@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .scrollable-content::-webkit-scrollbar {
    display: none;
  }
  .scroll-bar::-webkit-scrollbar {
    height: 10px;
  }
  .scroll-bar::-webkit-scrollbar-track {
    background: #cff0c3;
  }
  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: #80d85d;
    border-radius: 20px;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #cff0c3;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #80d85d;
    border-radius: 20px;
  }


  :root {
    --primary: #2FA500;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  

  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
  }

  .slider-controler-desktop {
    margin: 0 40px;
  }

  .swiper-button-prev, .swiper-button-next {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    z-index: 100;
  }

  .slider-controler-desktop .swiper-button-prev {
    margin-left: 40px;
  }

  .slider-controler-desktop .swiper-button-next {
    margin-right: 40px;
  }

  .slider-controler .slider-arrow {
    /* font-size: 0.5rem; */
    padding: 10px;
    color: #222224;
    background: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1000;
  }

  .slider-controler .slider-arrow::after {
    content: "";
  }

  .slider-controler-desktop .slider-arrow {
    /* font-size: 0.5rem; */
    padding: 5px;
    color: #222224;
    background: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1000;
  }

  .slider-controler-desktop .slider-arrow::after {
    content: "";
  }

  .swiper-pagination {
    position: absolute;
    bottom: 23px !important;
    width: auto;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background: #D2F0C1;
    opacity: 1;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
